<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Submit A Review</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="icon" type="image/png" href="public/favicon.ico">
    <link rel="stylesheet" href="SimpleStarRating.css" />
</head>

<body>
    <nav>
        <style>
            nav{
                height: 50px;
                border-bottom: 2px solid #f5f5f5;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 30px;
                margin-bottom: 30px;
            }

            #logo{
                font-size: 20px;
                color:black
            }

            #error{
                color: red;
            }
        </style>
        <a href="index.html" id="logo">Military Healthcare Review</a>
    </nav>

    <div class="review-group" style="margin-left: auto; margin-right: auto; width: 50%;">
        <p id="error"></p>
        <h2>Submit a review</h2>
        <label for="fname">Your name (If you wish to remain anonymous - simply type in anonymous):</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="specialty">Select reason for visit</label>
            <select name="specialties" id="specialties">  
              <option value="Acupuncture">Acupuncture</option>
              <option value="Backneck">Back and Neck</option>
              <option value="Cardiology">Cardiology</option>
              <option value="familymed">Family Medicine</option>
              <option value="neurosurgery">Neurological Surgery</option>
              <option value="pediatrics">Pediatrics</option>
            </select>
        <form>
            <table>
                <th>Professionalism</th>
                <th>Rating</th>
                <tr>
                    <td>Bedside Manner</td>
                    <td>
                        <span id="bedside-manner-rating" class="rating" data-stars="5" data-default-rating="0">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Clarity of Information</td>
                    <td>
                        <span id="clarity-rating" class="rating" data-stars="5" data-default-rating="0">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Provider Coverage</td>
                    <td>
                        <span id="provider-coverage-rating" class="rating" data-stars="5" data-default-rating="0">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Wait Time In Minutes</td>
                    <td><input id="wait-time" type="number"/></td>
                </tr>
            </table>
        </form>
        <div id="submit-form"  style="margin-top: 30px">
            <p>Tell us about your experience.</p>
            <textarea id="comments" class="input-textarea" name="comment" placeholder="Enter your review here..."></textarea>
        </br>
        <div id="submit-button" onclick="submitInformationToApi()">
            <button type="submit" id="submit" class="submit-button">Submit</button>
        </div>
    </div>
    </div>
    <script src="SimpleStarRating.js"></script>
    <script>
        let bedsideRating = new SimpleStarRating(document.getElementById(`bedside-manner-rating`));
        let bedsideRatingStarCount;
        document.getElementById(`bedside-manner-rating`).addEventListener('rate', function (e) {
            // e.detail contains the rating
            bedsideRatingStarCount = e.detail;
        });

        let clarityRating = new SimpleStarRating(document.getElementById(`clarity-rating`));
        let clarityRatingStarCount;
        document.getElementById(`clarity-rating`).addEventListener('rate', function (e) {
            // e.detail contains the rating
            clarityRatingStarCount = e.detail;
        });

        let providerCoverageRating = new SimpleStarRating(document.getElementById(`provider-coverage-rating`));
        let providerCoverageRatingStarCount;
        document.getElementById(`provider-coverage-rating`).addEventListener('rate', function (e) {
            // e.detail contains the rating
            providerCoverageRatingStarCount = e.detail;
        });

       

        async function submitInformationToApi(){

            let name = document.getElementById("fname").value;
            let specialty = document.getElementById("specialties").value;
            let waitTimeInMinutes = document.getElementById("wait-time").value;
            let review = document.getElementById("comments").value;
        
            const urlParams = new URLSearchParams(window.location.search);
            const providerId = urlParams.get('providerId');
            let submissionConfirmation = await fetch('/reviews', {
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json"
                },
                "body": JSON.stringify( { 
                    "healthProviderId": parseInt(providerId),
                    "reviewerName": name,
                    "serviceReceived": specialty,
                    "review": review,
                    "bedsideMannerRating": bedsideRatingStarCount,
                    "clarityRating": clarityRatingStarCount,
                    "waitTimeInMinutes": parseInt(waitTimeInMinutes),
                    "insuranceCoverageRating": providerCoverageRatingStarCount
                })
            });

            if(submissionConfirmation.status != 200){
                document.getElementById("error") = await submissionConfirmation.text();
                return;
            }

            window.location.href = "thankyou_back.html"
        }

    </script>
</body>

</html>