<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title>Current Reviews</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="SimpleStarRating.css" />
  </head>

  <body>
    <style>
      .review {
        margin-bottom: 100px;
      }
      .sub-category {
        width: 200;
        font-size: 12px;
      }
    </style>
    <div class="">
      <h1 id="Back to Search" class="text-center">Current Reviews</h1>
      <div id="review-container"></div>
      <div id="" style="display: flex">
        <button
          onclick="history.back()"
          style="margin-left: auto; margin-right: auto; width: 200px"
        >
          Back To Search Results
        </button>
      </div>
    </div>
    <script src="SimpleStarRating.js"></script>

    <script>
      async function getReviewsForProvider() {
        const urlParams = new URLSearchParams(window.location.search);
        const providerId = urlParams.get("providerId");
        let reviewsUnparsed = await fetch(`/providers/${providerId}/reviews`, {
          method: "GET",
        });

        let reviews = await reviewsUnparsed.json();

        let reviewContainer = document.getElementById("review-container");
        debugger;
        for (let reviewIndex = 0; reviewIndex < reviews.length; reviewIndex++) {
          let review = reviews[reviewIndex];

          let overallRating =
            (review.bedside_manner_rating +
              review.insurance_coverage_rating +
              review.clarity_rating) /
            3;

          reviewContainer.insertAdjacentHTML(
            "beforeEnd",
            `
            <div
            class="review"
            style="width: 50%; margin-left: auto; margin-right: auto"
          >
            <p style="font-weight: 800; margin: 0px">${review.reviewer_name}</p>
            <p style="font-size: 12px; color: gray">${review.service_received}</p>
            <span id="overall-rating-${review.id}" class="rating" data-stars="5" data-default-rating="${overallRating} || 0" disabled></span>
            <hr />
            <div style="display: flex; flex-direction: row">
              <p class="sub-category">Bedside Rating</p>
              <span id="bedside-rating-${review.id}" style="margin-left: 20px" class="rating" data-stars="5" data-default-rating="${review.bedside_manner_rating} || 0" disabled></span>
            </div>
            <div style="display: flex; flex-direction: row">
              <p class="sub-category">Clarity Of Information Rating</p>
              <span id="clarity-rating-${review.id}" style="margin-left: 20px" class="rating" data-stars="5" data-default-rating="${review.clarity_rating} || 0" disabled></span>
            </div>
            <div style="display: flex; flex-direction: row">
              <p class="sub-category">Insurance Coverage Rating</p>
              <span id="insurance-coverage-rating-${review.id}" style="margin-left: 20px" class="rating" data-stars="5" data-default-rating="${review.insurance_coverage_rating} || 0" disabled></span>
            </div>
            <hr />
            <p id="review-text">${review.review}</p>
          </div>`
          );

          new SimpleStarRating(
            document.getElementById(`overall-rating-${review.id}`)
          );
          new SimpleStarRating(
            document.getElementById(`bedside-rating-${review.id}`)
          );
          new SimpleStarRating(
            document.getElementById(`clarity-rating-${review.id}`)
          );
          new SimpleStarRating(
            document.getElementById(`insurance-coverage-rating-${review.id}`)
          );
        }
      }

      getReviewsForProvider();
    </script>
  </body>
</html>
